* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.connectme__login {
  margin: 5rem;
}

.connectme__login-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connectme__login-intro h1 {
  font-size: 3rem;
}

.connectme__login-intro p {
  font-size: 1.3rem;
}

.connectme__login-content {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connectme__login-content__manual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26rem;
}

@media screen and (max-width: 470px) {
  .connectme__login-content__manual {
    width: 100%;
  }
}

.connectme__login-content__manual > * {
  margin-bottom: 1rem;
}

.connectme__login-content__manual .email,
.connectme__login-content__manual .password {
  width: 100%;
}

.connectme__login-content__manual .email span,
.connectme__login-content__manual .password span {
  color: red;
}

.connectme__login-content__manual .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connectme__login-content__manual button.submit {
  padding: 1.4rem;
  width: 100%;
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connectme__login-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  z-index: 1;
  -webkit-transform: translate(0, 50%) !important;
          transform: translate(0, 50%) !important;
  position: absolute;
  left: 0;
  width: 100%;
}

.connectme__login-model .cross {
  position: absolute;
  top: 0;
  left: 21rem;
  right: 0;
  bottom: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.connectme__login-model .cross svg {
  z-index: 2;
  font-size: 1.7rem;
}

.connectme__login-model__data {
  padding: 1.5rem;
  margin: 5rem;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23rem;
  height: 20rem;
  background-color: black;
  z-index: 1;
  right: 0;
  bottom: 0;
}

.connectme__login-model__data span {
  color: red;
}

.connectme__login-model__data fieldset {
  border-color: white;
}

.connectme__login-model__data input {
  color: white;
}

.connectme__login-model__data label {
  color: white;
}

.connectme__login-model__data .username {
  width: 20rem;
}

.connectme__login-model__data .google {
  position: absolute;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.1rem;
  width: 20rem;
  background: white;
  color: black;
}

@media screen and (max-width: 500px) {
  .connectme__login-model__data {
    margin: 2rem 1rem;
  }
  .connectme__login-model__data .username {
    width: 100%;
  }
  .connectme__login-model__data .google {
    width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .connectme__login-content {
    margin-top: 3.5rem;
  }
}

.connectme__login .divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connectme__login .auth {
  margin-top: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26rem;
}

@media screen and (max-width: 470px) {
  .connectme__login .auth {
    width: 100%;
  }
}

.connectme__login .auth .google {
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background: white;
  margin-bottom: 1rem;
}

.connectme__login .auth .google svg {
  font-size: 1.9rem;
  margin-right: 1rem;
}

@media screen and (max-width: 750px) {
  .connectme__login {
    padding: 5rem 1rem;
    margin: 0;
  }
  .connectme__login-intro h1 {
    font-size: 2rem;
  }
  .connectme__login-intro p {
    font-size: 1rem;
  }
}

.connectme__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid black;
}

.connectme__header-signup .box {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  background: black;
  color: white;
}

.connectme__header-signup .box p {
  font-size: 1.2rem;
}

@media screen and (max-width: 750px) {
  .connectme__header-signup .box {
    padding: .6rem 1rem;
    width: 7rem;
  }
}
/*# sourceMappingURL=index.css.map */