* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

A {
  text-decoration: none;
  color: inherit;
}

.connectme__login {
  margin: 5rem;
}

.connectme__login-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connectme__login-intro h1 {
  font-size: 3rem;
}

.connectme__login-intro p {
  font-size: 1.3rem;
}

.connectme__login-content {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connectme__login-content__manual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26rem;
}

@media screen and (max-width: 470px) {
  .connectme__login-content__manual {
    width: 100%;
  }
}

.connectme__login-content__manual > * {
  margin-bottom: 1rem;
}

.connectme__login-content__manual .email,
.connectme__login-content__manual .password {
  width: 100%;
}

.connectme__login-content__manual .email span,
.connectme__login-content__manual .password span {
  color: red;
}

.connectme__login-content__manual .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connectme__login-content__manual button.submit {
  padding: 1.4rem;
  width: 100%;
  background: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connectme__login-model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  z-index: 1;
  -webkit-transform: translate(0, 50%) !important;
          transform: translate(0, 50%) !important;
  position: absolute;
  left: 0;
  width: 100%;
}

.connectme__login-model .cross {
  position: absolute;
  top: 0;
  left: 21rem;
  right: 0;
  bottom: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.connectme__login-model .cross svg {
  z-index: 2;
  font-size: 1.7rem;
}

.connectme__login-model__data {
  padding: 1.5rem;
  margin: 5rem;
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23rem;
  height: 20rem;
  background-color: black;
  z-index: 1;
  right: 0;
  bottom: 0;
}

.connectme__login-model__data span {
  color: red;
}

.connectme__login-model__data fieldset {
  border-color: white;
}

.connectme__login-model__data input {
  color: white;
}

.connectme__login-model__data label {
  color: white;
}

.connectme__login-model__data .username {
  width: 20rem;
}

.connectme__login-model__data .google {
  position: absolute;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.1rem;
  width: 20rem;
  background: white;
  color: black;
}

@media screen and (max-width: 500px) {
  .connectme__login-model__data {
    margin: 2rem 1rem;
  }
  .connectme__login-model__data .username {
    width: 100%;
  }
  .connectme__login-model__data .google {
    width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .connectme__login-content {
    margin-top: 3.5rem;
  }
}

.connectme__login .divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connectme__login .auth {
  margin-top: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26rem;
}

@media screen and (max-width: 470px) {
  .connectme__login .auth {
    width: 100%;
  }
}

.connectme__login .auth .google {
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background: white;
  margin-bottom: 1rem;
}

.connectme__login .auth .google svg {
  font-size: 1.9rem;
  margin-right: 1rem;
}

@media screen and (max-width: 750px) {
  .connectme__login {
    padding: 5rem 1rem;
    margin: 0;
  }
  .connectme__login-intro h1 {
    font-size: 2rem;
  }
  .connectme__login-intro p {
    font-size: 1rem;
  }
}

.connectme__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid black;
}

.connectme__header-signup .box {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  background: black;
  color: white;
}

.connectme__header-signup .box p {
  font-size: 1.2rem;
}

@media screen and (max-width: 750px) {
  .connectme__header-signup .box {
    padding: .6rem 1rem;
    width: 7rem;
  }
}

.connectme__user {
  margin-bottom: 5rem;
}

.connectme__user-background img {
  border-bottom-left-radius: 5rem !important;
  border-bottom-right-radius: 5rem !important;
}

@media screen and (max-width: 750px) {
  .connectme__user-background img {
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
  }
}

.connectme__user-profile {
  position: relative;
  -webkit-transform: translate(0%, -45%);
          transform: translate(0%, -45%);
  left: 0%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connectme__user-profile .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connectme__user-profile img {
  border-radius: 1rem;
}

.connectme__user .lower__sec {
  margin-top: -3rem;
  padding: 0rem 10rem;
}

.connectme__user-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connectme__user-about {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.connectme__user-about p {
  margin-top: 0.5rem;
}

.connectme__user-interests {
  margin-top: 4rem;
}

.connectme__user-interests__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.connectme__user-interests__info {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.connectme__user-interests__info .bodies {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16.66% - 20px);
          flex: 0 0 calc(16.66% - 20px);
  margin-left: 1rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  background: black;
  font-size: 1.2rem;
  color: white;
}

.connectme__user-interests__info .bodies:nth-child(0) {
  background: #9948e4;
}

.connectme__user-interests__info .bodies:nth-child(1) {
  background: #27404a;
}

.connectme__user-interests__info .bodies:nth-child(2) {
  background: #d001b1;
}

.connectme__user-interests__info .bodies:nth-child(3) {
  background: #f1ad51;
}

.connectme__user-interests__info .bodies:nth-child(4) {
  background: #18cbe3;
}

.connectme__user-interests__info .bodies:nth-child(5) {
  background: #9d6a30;
}

.connectme__user-interests__info .bodies:nth-child(6) {
  background: #944c1f;
}

.connectme__user-interests__info .bodies:nth-child(7) {
  background: #7436c2;
}

.connectme__user-interests__info .bodies:nth-child(8) {
  background: #7df614;
}

.connectme__user-interests__info .bodies:nth-child(9) {
  background: #3e28a6;
}

.connectme__user-interests__info .bodies:nth-child(10) {
  background: #7a1466;
}

.connectme__user-interests__info .bodies:nth-child(11) {
  background: #0e7966;
}

.connectme__user-interests__info .bodies:nth-child(12) {
  background: #7d4ccc;
}

.connectme__user-interests__info .bodies:nth-child(13) {
  background: #48ad51;
}

.connectme__user-interests__info .bodies:nth-child(14) {
  background: #7b66fc;
}

.connectme__user-interests__info .bodies:nth-child(15) {
  background: #bc02dd;
}

.connectme__user-interests__info .bodies:nth-child(16) {
  background: #34f24f;
}

.connectme__user-interests__info .bodies:nth-child(17) {
  background: #fc1cbd;
}

.connectme__user-interests__info .bodies:nth-child(18) {
  background: #a351c4;
}

.connectme__user-interests__info .bodies:nth-child(19) {
  background: #388f5c;
}

.connectme__user-social {
  margin-top: 4rem;
}

.connectme__user-social__content {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
}

.connectme__user-social__content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connectme__user-social__content .item svg {
  font-size: 3rem;
}

.connectme__user-social__content .item p {
  font-weight: bold;
  margin-top: 0.5rem;
}

.connectme__user-testimonial {
  margin-top: 4rem;
}

.connectme__user-testimonial__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.connectme__user-testimonial__content {
  margin-top: 2rem;
}

.connectme__user-testimonial__content-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connectme__user-testimonial__content-upper__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.connectme__user-testimonial__content-upper__left P:nth-child(2n) {
  color: gray;
}

.connectme__user-testimonial__content-upper__left p:last-child {
  font-weight: 600;
  margin-top: 0.9rem;
  width: 66%;
}

.connectme__user-testimonial__content-upper__right video {
  width: 40rem;
  -o-object-fit: contain;
     object-fit: contain;
  border: 0.5rem solid black !important;
}

.connectme__user-testimonial__content-upper__right iframe {
  border: 0.5rem solid black !important;
}

@media screen and (max-width: 1200px) {
  .connectme__user-testimonial__content-upper__left p:last-child {
    width: 90%;
  }
  .connectme__user-testimonial__content-upper video {
    width: 30rem;
  }
  .connectme__user-testimonial__content-upper iframe {
    width: 30rem;
    height: 20rem;
  }
}

@media screen and (max-width: 850px) {
  .connectme__user-testimonial__content-upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .connectme__user-testimonial__content-upper__left {
    margin-top: 2rem;
  }
  .connectme__user-testimonial__content-upper__left p:last-child {
    width: 100%;
  }
  .connectme__user-testimonial__content-upper__right {
    width: 100%;
  }
  .connectme__user-testimonial__content-upper__right video {
    width: 100%;
  }
  .connectme__user-testimonial__content-upper__right iframe {
    width: 100%;
  }
}

.connectme__user-testimonial__content-lower {
  margin-top: 2rem;
}

.connectme__user-testimonial__content-lower .swiper-button-prev,
.connectme__user-testimonial__content-lower .swiper-button-next {
  color: black;
}

.connectme__user-testimonial__content-lower .card-show {
  padding: 0.5rem;
  background: black;
  color: white;
}

.connectme__user-connects {
  margin-top: 4rem;
}

.connectme__user-connects__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.connectme__user-connects__content {
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connectme__user-connects__content svg {
  font-size: 4rem;
}

@media screen and (max-width: 1200px) {
  .connectme__user-connects__content {
    margin: 3rem 0;
  }
}

@media screen and (max-width: 500px) {
  .connectme__user-connects__content {
    margin: 3rem 2rem;
  }
  .connectme__user-connects__content svg {
    font-size: 3rem;
  }
}

@media screen and (max-width: 390px) {
  .connectme__user-connects__content {
    margin: 3rem 0;
  }
  .connectme__user-connects__content svg {
    font-size: 3rem;
  }
}

.connectme__user-portfolio {
  margin-top: 12rem;
}

.connectme__user-portfolio__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.connectme__user-portfolio__content {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.connectme__user-portfolio__content__upper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connectme__user-portfolio__content__upper svg {
  font-size: 2rem;
}

.connectme__user-portfolio__content hr {
  height: 0.2rem;
  margin-top: 1rem;
  width: 40%;
  text-align: center;
  background: black;
}

.connectme__user-portfolio__content__lower {
  margin-top: 2rem;
}

.connectme__user-portfolio__content__lower .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .connectme__user-portfolio__content__lower .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .connectme__user-portfolio__content__upper {
    width: 100%;
  }
  .connectme__user-portfolio__content__lower .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .connectme__user .lower__sec {
    padding: 0 5rem;
  }
  .connectme__user-social__content {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .connectme__user .lower__sec {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 500px) {
  .connectme__user {
    font-size: 0.85rem;
  }
  .connectme__user .lower__sec {
    padding: 0 1rem;
  }
}

.modal {
  position: fixed;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  z-index: 12334;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.connectme__modal {
  width: 100%;
}

.connectme__modal-off {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
  font-size: 2rem;
}

.connectme__modal-button {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%;
}

.connectme__modal-button svg {
  font-size: 2rem;
}
/*# sourceMappingURL=index.css.map */