.connectme__user {
  &-background {
    border-radius: 2rem;

    @media screen and (min-width: 750px) {
      border-radius: 5rem;
    }
    background: #ffffff;
    box-shadow: 32px 22px 10px #696969, -11px -11px 22px #ffffff;
    img {
      border-bottom-left-radius: 5rem !important;
      border-bottom-right-radius: 5rem !important;
      @media screen and (max-width: 750px) {
        border-bottom-left-radius: 2rem !important;
        border-bottom-right-radius: 2rem !important;
      }
    }
    .background {
      position: absolute;
      right: 1.5rem;
      top: 1rem;
      color: black;
      font-size: 2rem;
    }
  }

  &-edit__button {
    position: fixed;
    z-index: 111;
    bottom: 6rem;
    left: -1.8rem;

    .edit__button {
      @include center__element;
      transform: rotate(-90deg);
      @include box_color;
      border: 1px solid $primary-color;
      padding: 0.4rem 1rem;
      @include click_font;
      justify-content: space-between;

      // border-bottom-right-radius: 5px;
      // border-bottom-right-radius: 5px;
      border-radius: 0 0 5px 5px;
      cursor: pointer;

      & > * {
        margin-right: 0.4rem;
      }
    }
  }
  &-profile {
    position: relative;
    // top: 50%;
    transform: translate(0%, -45%);
    left: 0%;
    right: 0;
    @include center__element;
    flex-direction: column;

    
    // span:first-child {
    //   border-radius: 15px;
    //   background: #ffffff;
    //   box-shadow: 11px 11px 22px #696969, -11px -11px 22px #ffffff;
    // }

    .verified{
      position: relative;
      top: -1.8rem;
      z-index: 1;
      font-size: 1.5rem;
      left: 3rem;
      color: #007aff;
    }

    .info {
      @include center__element;
      flex-direction: column;

      h2 {
        background: -webkit-linear-gradient(#000000, $primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include click_font;
        font-weight: bold;
      }
      p {
        @include normal_font;
      }
      &__name,
      &__city {
        @include center__element;
        svg {
          margin-left: 0.4rem;
          margin-bottom: 0.2rem;
        }
      }
      &__tagline {
        @include click_font;
        padding: 1rem;
        .background {
          color: black;
        }
        .quotes {
          font-size: 2rem;

          &:first-child {
            border-radius: 0;
            background: none;
            box-shadow: none;
          }
        }
      }
    }
    img {
      border-radius: 1rem;
    }
    .background {
      color: black;
      position: relative;
      top: 2.4rem;
      z-index: 1;
      font-size: 1.5rem;
      left: 3.8rem;

      @media screen and (max-width: 750px) {
        left: 3rem;
      }
      @media screen and (min-width: 750px) {
        left: 4rem;
      }
      @media screen and (min-width: 1000px) {
        left: 5rem;
      }
    }
  }
  .lower__sec {
    margin-top: -3rem;
    padding: 0rem 10rem;
  }

  &-like {
    margin-top: 2rem;
    @include center__element;
    .like__button {
      padding: 0.7rem;
      cursor: pointer;
      @include center__element;
      @include box_color;
      border-radius: 5px;

      svg {
        font-size: 2rem;
        margin-right: 1rem;
      }
    }
  }

  &-detail {
    @include center__element;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
    padding: 1rem;
    .background {
      width: 1rem;
      position: relative;
      left: 7rem;
      color: black;
      top: 1.4rem;
    }

    p {
      @include click_font;
      margin-bottom: 0.4rem;
    }
    h3 {
      @include normal_font;
    }
  }
  &-about {
    @include center__element;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      @include click_font;
    }

    p {
      margin-top: 0.5rem;
      border-radius: 10px;
      background: #e0e0e0;
      box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
      padding: 1rem;
      @include normal_font;

      span {
        margin-left: 0.5rem;
        color: blue;
      }
    }
    .background {
      @include center__element;
      align-items: flex-start;
      svg {
        font-size: 1.3rem;
        margin-left: 0.4rem;
      }
    }
  }
  &-interests {
    &__title {
      @include center__element;
      justify-content: space-between;
      flex-direction: row-reverse;
      .add {
        cursor: pointer;
        @include box_color;
        border: 1px solid $primary-color;
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }

      h1 {
        @include click_font;
      }
      .background {
        margin-right: 0.3rem;
        margin-top: -1rem;
        font-size: 1.4rem;
      }
    }
    &__info {
      overflow-x: hidden;
      @include normal_font;
      margin-top: 2rem;
      //   display: grid;
      //   grid-template-columns: repeat(6,1fr);
      //   grid-gap: 1rem;

      //   justify-items: center;
      //   align-content: center;
      @include center__element;
      flex-wrap: wrap;

      @mixin random-bgr {
        background: rgb(random(255), random(255), random(255));
      }
      .background {
        position: relative;
        bottom: 0.3rem;
        left: 0.5rem;

        color: black;
      }
      .bodies {
        flex: 0 0 calc(16.66% - 20px);
        margin-left: 1rem;
        margin-top: 1rem;
        @include center__element;
        width: 10rem;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        background: black;
        font-size: 1.2rem;
        color: white;

        @for $i from 0 to 20 {
          &:nth-child(#{$i}) {
            @include random-bgr();
          }
        }
      }
    }
  }

  &-social {
    &__title {
      @include center__element;
      justify-content: space-between;

      h1 {
        @include click_font;
      }

      .refactor{
        &__button{
          padding: .6rem 1rem; 
          @include box_color;
          border-radius:5px;
          cursor: pointer;
        }
      }
    }
    &__content {
      overflow-x: hidden;
      @include center__element;
      justify-content: space-between;
      padding: 2rem;
      border-radius: 10px;
      background: #e0e0e0;
      box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
      margin-top: 2rem;

      .item {
        @include center__element;
        flex-direction: column;
        svg {
          width: 3rem !important;
          height: 3rem !important;
        }
        p {
          font-weight: bold;
          @include normal_font;
          margin-top: 0.5rem;
        }
      }
      .background {
        position: absolute;
        margin-bottom: 4rem;
        margin-left: 4rem;
        svg {
          width: auto !important;
          height: auto !important;
          font-size: 1rem !important;
        }
      }
    }
  }

  &-testimonial {
    &__title {
      h1 {
        @include click_font;
      }
      @include center__element;
      justify-content: space-between;

      .add {
        cursor: pointer;
        @include box_color;
        border: 1px solid $primary-color;
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }
    }

    &__content {
      margin-top: 2rem;
      padding: 1rem;
      border-radius: 20px;
      background: #e0e0e0;
      box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;

      .background {
        position: absolute;
        z-index: 1;
        left: 0;
        font-size: 2rem;
        color: gray;
      }

      .delete {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        font-size: 2rem;

        svg {
          fill: gray;
        }
      }

      &-carousel {
        img {
          border-radius: 20px;
        }
        .play-button {
          display: flex;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          text-align: center;
          background: rgba($color: #000000, $alpha: 0.5);
          border-radius: 20px;
          align-items: center;
          justify-content: center;

          svg {
            font-size: 2.5rem;
            color: white;
          }
          &-circle {
            border-radius: 50%;
            padding: 1rem;
            background: white;

            &:hover {
              transition: all 0.3s ease-out;
              transform: scale(1.3);
            }
          }
        }
      }
    }
  }

  &-connects {
    &__title {
      @include center__element;
      justify-content: space-between;
      h1 {
        @include click_font;
      }
      .background {
        margin-left: 0.4rem;
        width: 2rem;
        margin-top: -1rem;
        font-size: 1.4rem;
      }
    }
    &__content {
      border-radius: 10px;
      background: #e0e0e0;
      box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
      padding: 1rem;
      overflow: hidden;
      @include center__element;
      margin: 3rem 10rem;
      justify-content: space-between;
      svg {
        width: 3rem !important;
        height: 3rem !important;
      }

      .background {
        position: absolute;
        margin-bottom: 4rem;
        margin-left: 3rem;
        svg {
          font-size: 1rem !important;
          width: auto !important;
          height: auto !important;
        }
      }

      @media screen and (max-width: 1200px) {
        margin: 3rem 0;
      }

      @media screen and (max-width: 500px) {
        margin: 3rem 0;
        svg {
          font-size: 3rem;
        }
      }
      @media screen and (max-width: 390px) {
        margin: 3rem 0;
        svg {
          font-size: 3rem;
        }
      }
    }
  }

  &-portfolio {
    margin-top: 12rem;
    &__title {
      @include center__element;
      justify-content: space-between;
      h1 {
        @include click_font;
      }
      .add {
        cursor: pointer;
        background: black;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }
      .background {
        margin-left: 0.4rem;
        width: 2rem;
        margin-top: -1rem;
        font-size: 1.4rem;
      }
    }
    &__content {
      margin-top: 2rem;
      @include center__element;
      flex-direction: column;
      padding: 1rem;

      &__upper {
        width: 50%;
        @include center__element;
        justify-content: space-between;
        svg {
          font-size: 2rem;
        }
      }
      hr {
        height: 0.2rem;
        margin-top: 1rem;
        width: 40%;
        text-align: center;
        background: black;
      }
      &__lower {
        margin-top: 2rem;
        .grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 1rem;
        }
      }
      @media screen and (max-width: 1000px) {
        &__lower {
          .grid {
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
      @media screen and (max-width: 500px) {
        &__upper {
          width: 100%;
        }
        &__lower {
          .grid {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }

  &-services {
    &__title {
      @include center__element;
      justify-content: space-between;
      h1 {
        @include click_font;
      }
      .add {
        cursor: pointer;
        @include box_color;
        border: 1px solid $primary-color;
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }
      .background {
        margin-left: 0.4rem;
        width: 2rem;
        margin-top: -1rem;
        font-size: 1.4rem;
      }
    }

    &__content {
      margin-top: 3rem;
      border-radius: 10px;
      background: #e0e0e0;
      box-shadow: 6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
      padding: 1rem;

      .background {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        font-size: 2rem;

        svg {
          fill: gray;
        }
      }

      .delete {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        font-size: 2rem;

        svg {
          fill: gray;
        }
      }

      img {
        border-radius: 1rem;
      }
    }

    &__more {
      @include center__element;
      justify-content: flex-end;
      overflow: hidden;

      margin-top: 2rem;
      svg {
        font-size: 3rem;
      }
    }
  }

  &-personal {
    &__title {
      @include center__element;
      justify-content: space-between;

      h1 {
        @include click_font;
      }
    }
    &__content {
      margin-top: 2rem;
      @include center__element;

      svg {
        font-size: 2rem;
      }
      h3 {
        margin-left: 1rem;
        cursor: pointer;
      }
      .button {
        border-radius: 5px;
        @include center__element;
        @include click_font;
        padding: 1rem;
        width: 15rem;
        @include box_color;
        border: 1px solid $primary-color;
      }
    }
  }

  &-modal {
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 34;
    backdrop-filter: blur(2px);

    .content {
      @include center__element;
      margin-left: 0.3rem;
    }

    &__content {
      .edit__once {
        @include center__element;
        width: 100%;
        &-button {
          padding: 0.6rem 1rem;
          @include box_color;
          cursor: pointer;
          border-radius: 5px;
        }
      }

      .background {
        position: relative;
        right: -0.3rem;
        top: -0.4rem;
      }
      width: 40rem;
      position: absolute;
      background: gray;
      padding: 3rem;
      border-radius: 0.7rem;
      display: grid;
      justify-items: flex-start;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      top: 35%;

      .item {
        @include center__element;
        justify-content: flex-start;

        .title {
          @include center__element;
        }
        .content {
          margin-left: 0.4rem;
          @include center__element;
        }
      }

      @media screen and (max-width: 700px) {
        top: 20%;
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &__off {
      position: absolute;
      border: 3px solid black;
      right: 1rem;
      top: 3rem;
      border-radius: 50%;
      @include center__element;
      flex-direction: column;
      padding: 0.4rem;
    }
  }

  .border {
    margin-top: 2rem;
    @include center__element;
    .hr {
      width: 100%;
      height: 1px;
      display: block;
      position: relative;
      margin-bottom: 0em;
      padding: 2em 0;

      &:after,
      &:before {
        content: "";
        position: absolute;

        width: 100%;
        height: 3px;
        bottom: 50%;
        left: 0;
      }

      &:before {
        background: linear-gradient(
          90deg,
          $bg 0%,
          $bg 50%,
          transparent 50%,
          transparent 100%
        );
        background-size: $barsize;
        background-position: center;
        z-index: 1;
      }

      &:after {
        transition: opacity 0.3s ease, animation 0.3s ease;

        background: linear-gradient(
          to right,
          #62efab 5%,
          #f2ea7d 15%,
          #f2ea7d 25%,
          #ff8797 35%,
          #ff8797 45%,
          #e1a4f4 55%,
          #e1a4f4 65%,
          #82fff4 75%,
          #82fff4 85%,
          #62efab 95%
        );

        background-size: 200%;
        background-position: 0%;
        animation: bar 5s linear infinite;
      }

      @keyframes bar {
        0% {
          background-position: 0%;
        }
        100% {
          background-position: 200%;
        }
      }
    }

    .hr.anim {
      &:before {
        background: linear-gradient(
          90deg,
          $bg 0%,
          $bg 5%,
          transparent 5%,
          transparent 10%,
          $bg 10%,
          $bg 15%,
          transparent 15%,
          transparent 20%,
          $bg 20%,
          $bg 25%,
          transparent 25%,
          transparent 30%,
          $bg 30%,
          $bg 35%,
          transparent 35%,
          transparent 40%,
          $bg 40%,
          $bg 45%,
          transparent 45%,
          transparent 50%,
          $bg 50%,
          $bg 55%,
          transparent 55%,
          transparent 60%,
          $bg 60%,
          $bg 65%,
          transparent 65%,
          transparent 70%,
          $bg 70%,
          $bg 75%,
          transparent 75%,
          transparent 80%,
          $bg 80%,
          $bg 85%,
          transparent 85%,
          transparent 90%,
          $bg 90%,
          $bg 95%,
          transparent 95%,
          transparent 100%
        );

        background-size: $barsize * 10;
        background-position: center;
        z-index: 1;

        animation: bar 120s linear infinite;
      }

      &:hover {
        &:before {
          animation-duration: 20s;
        }
        &:after {
          animation-duration: 2s;
        }
      }
    }
  }

  margin-bottom: 5rem;

  @media screen and (max-width: 1000px) {
    .lower__sec {
      padding: 0 5rem;
    }
    &-social {
      &__content {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
      }
    }
  }

  @media screen and (max-width: 750px) {
    .lower__sec {
      padding: 0 3rem;
    }
  }

  @media screen and (max-width: 500px) {
    font-size: 0.85rem;
    .lower__sec {
      padding: 0 1rem;
    }
  }

  &-setting {
    margin-top: 3rem;
    @include center__element;
    padding: 0 2rem;
    // justify-content: space-between;

    .private,
    .request {
      cursor: pointer;

      padding: 1rem;
      background: black;
      color: white;
      border-radius: 5px;

      @include box_color;
    }
    .request {
      padding: 1rem 8rem;
    }
  }

  & {
    text-align: center;

    .toggle-switch {
      position: relative;
      width: 75px;
      display: inline-block;
      text-align: left;
      top: 8px;
    }
    .checkbox {
      display: none;
    }
    .label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0 solid #bbb;
      border-radius: 20px;
    }
    .inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
    }
    .inner:before,
    .inner:after {
      float: left;
      width: 50%;
      height: 36px;
      padding: 0;
      line-height: 36px;
      color: #fff;
      font-weight: bold;
      box-sizing: border-box;
    }
    .inner:before {
      content: "YES";
      padding-left: 10px;
      background-color: #060;
      color: #fff;
    }
    .inner:after {
      content: "NO";
      padding-right: 10px;
      background-color: #bbb;
      color: #fff;
      text-align: right;
    }
    .switch {
      display: block;
      width: 24px;
      margin: 5px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 40px;
      border: 0 solid #bbb;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
    }
    .checkbox:checked + .label .inner {
      margin-left: 0;
    }
    .checkbox:checked + .label .switch {
      right: 0px;
    }
  }

  &-footer {
    margin-top: 3rem;
    @include center__element;
    justify-content: space-between;

    h3 {
      @include normal_font;
    }
    .content {
      &__button {
        padding: 1rem;
        cursor: pointer;
        @include box_color;
        @include click_font;
        border: 1px solid $primary-color;
        border-radius: 5px;

        h2 {
          cursor: pointer;
        }
      }
    }

    @media screen and (max-width: 560px) {
      .text {
        width: 50%;
      }
    }
  }

  &-feedback {
    @include center__element;
    margin-top: 2rem;
    .feedback {
      cursor: pointer;
      padding: 1rem;
      border-radius: 5px;
      @include box_color;
      border: 1px solid $primary-color;
      @include center__element;
      justify-content: space-between;
      @include click_font;

      svg {
        font-size: 2rem;
      }
      h3 {
        margin-left: 1rem;
      }
    }
  }

  &-document {
    &__title {
      @include center__element;
      justify-content: space-between;
      h1 {
        @include click_font;
      }
    }
    &__content {
      margin-top: 2rem;
      @include center__element;

      .button {
        svg {
          font-size: 2rem;
          margin-right: 1rem;
        }
        @include center__element;
        padding: 1rem;
        cursor: pointer;
        border-radius: 5px;
        @include box_color;
        border: 1px solid $primary-color;
      }

      .background {
        color: white;

        position: relative;
        top: -1.2rem;
        z-index: 1;
        font-size: 1.5rem;
        left: -1.5rem;
      }
    }
  }

  &-request {
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 34;

    backdrop-filter: blur(2px);
    align-items: center;
    &__container {
      width: 27rem;

      position: absolute;
      background: gray;
      padding: 3rem;
      border-radius: 0.7rem;
      // @include center__element;
      flex-direction: column;

      &-title {
        @include center__element;
        h1 {
          border-bottom: 2px solid black;
        }
      }

      &-content {
        height: 20rem;
        // overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 2rem;

        &__item {
          margin-bottom: 1rem;
          @include center__element;
          justify-content: space-between;
          .left {
            @include center__element;
            justify-content: flex-start;
            align-items: flex-start;

            &__left {
              margin-right: 1rem;
            }
            &__right {
              @include center__element;
              flex-direction: column;
              align-items: flex-start;
              span {
                font-size: 0.8rem;
              }
            }
          }
          .right {
            @include center__element;
            justify-content: space-between;

            &__check,
            &__wrong {
              padding: 0.5rem;
              @include center__element;
              background: rgb(65, 203, 65);
              border-radius: 50%;
              color: white;
              svg {
                font-size: 1.3rem;
              }
            }

            &__wrong {
              color: black;
              margin-left: 1rem;
              background: rgb(223, 6, 6);
            }
          }
        }
        @media screen and (max-width: 450px) {
          width: 100%;
          padding: 2rem 1rem;
        }
      }
    }
    &__close {
      .close {
        position: absolute;
        border-radius: 50%;
        padding: 0.7rem;
        @include center__element;
        // background: $primary-color;
        border: 2px solid black;
        top: 1rem;
        right: 1rem;
        color: $primary-color;
        font-size: 1.4rem;
      }
    }
  }
}

.modal {
  position: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 12334;
  backdrop-filter: blur(2px);
}

.connectme__modal {
  width: 100%;

  &-off {
    position: absolute;
    top: 3rem;
    right: 0rem;
    z-index: 3;
    font-size: 2rem;
  }
  video {
    width: 100%;
  }
  &-button {
    position: absolute;
    width: 100%;
    @include center__element;
    justify-content: space-between;
    top: 50%;

    svg {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 600px) {
    iframe {
      width: 100% !important;
    }
  }
  @media screen and (min-width: 600px) {
    iframe {
      width: 800px !important;
      height: 500px !important;
    }
  }
  @media screen and (min-width: 1500px) {
    iframe {
      width: 1000px !important;
      height: 700px !important;
    }
  }
}

.connectme__edit {
  position: fixed;
  height: 100vh;

  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 34;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  &-close {
    position: absolute;
    font-size: 2.5rem;
    top: 0;
    right: 0;
  }
  .progress__bar{
    margin-bottom: 1rem;
  }
  &-modal {
    position: absolute;
    background: black;
    color: white;
    top: 50%;
    width: 25rem;
    padding: 3rem 1rem;
    border-radius: 5px;
    transform: translate(-50%, -50%) !important;
    left: 50%;

    .uploader {
      @include center__element;
      flex-direction: column;
      input {
        margin: 1rem 0;
        font-size: 1rem;
      }
      &_button {
        padding: 0.1rem 1rem;
        background: white;
        color: black;
        font-size: 0.7rem;
        border-radius: 5px;
      }
    }

    @media screen and (max-width: 450px) {
      width: 100%;
    }

    .title {
      @include center__element;
      margin-bottom: 2rem;
    }

    .content {
      textarea {
        width: 100%;
        font-size: 1.2rem;
      }
      &-array {
        @include center__element;
        flex-direction: column;
        & > * {
          margin-bottom: 1rem;
        }
      }

      @include center__element;
      input {
        width: 100%;
        font-size: 1.2rem;
        padding: 0.3rem;
      }
      .edit {
        position: absolute;
        right: 3rem;
        top: 8rem;
        border-left: 2px solid black;
        color: black;
        svg {
          font-size: 1.5rem;
        }
      }
    }
    .button {
      padding: 1rem;
      margin-top: 1rem;
      @include center__element;
      button {
        width: 50%;
        font-size: 1.3rem;
        /* height: 1.5rem; */
        border-radius: 5px;
        padding: 0.5rem;
      }
    }
  }
}

.outer__shell {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 34;
  // -webkit-backdrop-filter: blur(2px);
  // backdrop-filter: blur(2px);

  .connectme__message-modal {
    position: absolute;
    background: $primary-color;
    color: black;
    top: 50%;
    width: 28rem;
    padding: 3rem;
    border-radius: 5px;
    transform: translate(-50%, -50%) !important;
    left: 50%;

    .divider {
      width: 100%;
      height: 0.15rem;
      background: white;
    }

    .wait{
      @include center__element;
      svg{
        width: 10rem
      }
    }
    &__title {
      @include center__element;
      h1 {
        color: white;
      }
      flex-direction: column;
      span {
        width: 50%;
        height: 0.15rem;
        background-color: white;
      }
    }
    &__content {
      margin-top: 2rem;
      @include center__element;
      flex-direction: column;
      .message {
        @include center__element;
        h3 {
          text-align: center;
        }
      }

      .button {
        @include center__element;
      }
      .confirm {
        cursor: pointer;
        margin-top: 2rem;
        background-color: white;
        color: black;
        border-radius: 5px;
        padding: 0.6rem 1rem;
      }

      .home {
        @extend .confirm;
        margin-left: 2rem;
      }
      .success {
        margin-top: 2rem;
        @include center__element;
        justify-content: space-between;
        padding: 0 3rem;
        width: 100%;

        .yes,
        .no {
          cursor: pointer;
          width: 5rem;
          // padding: 1rem;
          height: 2rem;
          background: white;
          color: black;
          @include center__element;
        }
      }
    }

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }
}

.connectme__cropper {
  &-container {
    position: relative;
    width: 100%;
    height: 30rem;
    background: #333;
  }
  &-action {
    @include center__element;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 2rem;

    .cancel,
    .crop,
    .upload {
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }
    .crop,
    .upload {
      @include box_color;
    }
    .cancel {
      background: red;
      color: white;

      &:hover {
        transition: all 0.1s ease-in-out;
        color: red;
        background: white;
        // border: 2px solid red;
      }
    }

    @media screen and (max-width: 500px) {
      font-size: 0.8rem;
    }
    @media screen and (max-width: 440px) {
      font-size: 0.7rem;
    }
    @media screen and (max-width: 400px) {
      flex-direction: column-reverse;
      & > * {
        margin-bottom: 1rem;
      }
    }
  }
}

.connectme__social {
  &-refactor {
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 34;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0.3rem;
    }
    &__content {
      position: absolute;
      background: gray;
      padding: 3rem;
      width: 25rem;
      
      @media screen and (max-width: 420px) {
        
        width: 100%;
      }
      border-radius: 0.7rem;

      &-title{
        @include center__element;
      }

      &-data{
        margin-top: 2rem;
        @include center__element;
        flex-direction: column;
        
        
        .item{
          margin-bottom: .4rem;
          width: 100%;
          @include center__element;
          justify-content: space-between;
          

          .button{
            width: 6rem;
            padding: .5rem 1rem;
            color: white;
            background: rgb(48, 216, 48);
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }

    &__off {
      position: absolute;
      font-size: 2rem;
      color: $primary-color;
      right: 1rem;
      top: 3rem;
      border-radius: 50%;
      flex-direction: column;
      padding: 0.4rem;
    }
  }
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(227 227 227);
  height: 100vh;
  pointer-events: none;

  &__box{
    border-radius: 10px;
    padding: 5rem;
  }
}