.connectme__header{
    @include center__element;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid black;
    &-signup{
        .box{
            padding: 1rem;
            @include center__element;
            width: 10rem;
            @include box_color;
            background-color: black !important;
            border-radius: 5px;
            color: $primary-color !important;

            @include click_font;
            cursor: pointer;
            p{
                font-size: 1.2rem;
            }
        }
    }

    &-icon{
        img{
            width: 13rem;

            @media screen and (max-width:750px) {
                width: 10rem;
            }
        }
    }

    @media screen and (max-width:750px) {
        &-signup{
            
            .box{
                padding: .6rem;
                // background-color: black !important;
                // color: $primary-color !important;
                width: 7rem;
            }
        }
    }
}

.connectme__home{
    @include center__element;
    margin-top: 5rem;

    &-profile{
        padding: 1rem;
        background: $primary-color;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
}