@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Playfair+Display:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  //   background: black;
  //   color: white;
}

@mixin center__element {
  display: flex;
  justify-content: center;
  align-items: center;
}

A {
  text-decoration: none;
  color: inherit;
}

$bg: #10111f;
$barsize: 15px;

$primary-color: #3080c0;
$secondary-color: #fff;
$dark-color: #000;


$box_highlight: #56d5c7;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

@mixin box_color {
  background: $primary-color !important;
  color: $secondary-color !important;

  &:hover {
    color: $primary-color !important;
    background-color: $secondary-color !important;
    border: 1px solid black;
    transition: all 0.1s ease-in;
  }
}

@mixin click_font {
  font-family: "Lora", serif !important;
  color: #3080c0;
}

@mixin normal_font {
  font-family: "Lora", serif;
  font-family: "Playfair Display", serif;
}

@mixin purple_gradient {
  background: #94e594;
  color: black;
}
