* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
//   background: black;
//   color: white;
}

@mixin center__element {
    display: flex;
    justify-content: center;
    align-items: center;
}

A{
  text-decoration: none;
  color: inherit;
}